.header {
    width: 82%;
    margin: 50px auto;
    @include flex-between();
    height: 50px;
    &-content {
        width: 378px;
        height: 30px;
        ul {
            @include flex-between();
            list-style: none;
            li {
                a {
                    text-decoration: none;
                    font-family: ageo;
                    font-weight: 500;
                    font-size: 18px;
                    color: $text-black;
                    transition: all 0.3 ease;
                    &:hover {
                        font-weight: 700;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    &-registration {
        width: 188px;
        height: 50px;
        @include flex-between();
        &-btn1 {
            font-weight: 500;
            font-size: 18px;
            font-family: ageo;
            color: $text-black;
            border: none;
            background-color: transparent;
        }
        &-btn2 {
            width: 120px;
            height: 50px;
            border-radius: 10px;
            border: none;
            font-weight: 500;
            font-size: 18px;
            font-family: ageo;
            color: $text-white;
            background-color: $bg-btn;
        }
    }
    @media (max-width: 1200px) {
        width: 90%;
    }
    @media (max-width: 992px) {
        width: 92%;
        img {
            width: 170px;
            height: 60px;
        }
        &-content {
            width: 300px;
            ul {
                li {
                    a {
                        font-size: 15px;
                    }
                }
            }
        }
        &-registration {
            width: 150px;
            &-btn1 {
                font-size: 16px;
            }
            &-btn2 {
                width: 90px;
                font-size: 16px;
            }
        }
    }
    @media (max-width: 768px) {
    }
    @media (max-width: 576px) {
    }
    @media (max-width: 360px) {
    }
}
