.testimonials {
    width: 68%;
    margin: 50px auto;
    p {
        font-family: ageo;
        font-weight: 700;
        font-size: 14px;
        color: $text-gray;
        text-align: center;
    }
    h1 {
        font-weight: 700;
        font-family: ageo;
        font-size: 52px;
        color: $secondary-color;
        text-align: center;
        margin-top: 10px;
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        margin-top: 100px;
        &-1 {
            width: 450px;
            height: 237px;
            padding: 30px;
            display: flex;
            gap: 30px;
            img {
                width: 70px;
                height: 70px;
                margin-top: 15px;
            }
            h1 {
                font-family: sansDM;
                font-weight: 500;
                font-size: 18px;
                color: $secondary-color;
                text-align: left;
            }
            p {
                text-align: left;
                margin-top: 20px;
                font-weight: 700;
                font-family: sansDM;
                font-size: 14px;
                color: $text-gray;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
    }
    @media (max-width: 1200px) {
        width: 90%;
        &-content {
            margin-top: 60px;
        }
    }
    @media (max-width: 992px) {
        width: 92%;
        h1 {
            font-size: 45px;
        }
        &-content {
            margin-top: 50px;
            &-1 {
                width: 400px;
                h1 {
                    font-size: 18px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        width: 92%;
        &-content {
            gap: 5px;
            margin-top: 30px;

            &-1 {
                width: 350px;
                padding: 20px;
                h1 {
                    font-size: 16px;
                }
            }
        }
    }
    @media (max-width: 576px) {
    }
    @media (max-width: 360px) {
    }
}
